/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Debug params box */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: auto;
}



/* Header */



.jumbotron {
	text-align: center;
	background-color: #FFF;
	.btn {
		margin-top: 30px;
	}
}

.home-links a {
	font-size: 1.25em;
	display: block;
	margin-bottom: 25px;

}


.navbar-header {
	margin-top: 10px;
}

.navbar-inverse {
	background-color: #428bca;
}

#logo {
	font-size: 1.7em;
	background-color: #428bca;
	color: #fff;
	&:hover {
		color: #000;
	}
}


#header-links {
	font-size: 1.25em;
	padding-top: 10px;
	a {
		color: #fff;
		background-color: #428bca;
	}
}

#after-header {
	padding-top: 100px;
}

.admin-options {
	border-top: 1px solid #999;
	p {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.5em;
		text-align: center;
	}
}

footer {
	margin-top: 150px;
	border-top: 1px solid #999;
}
footer small {
	padding-top: 10px;
	color: #888;
	float: left;
	p {
		font-size: 1.5em;
	}
	a {
		color: #888;
	}
}
footer ul {
	float: right;
	list-style: none;
	padding-right: 15px;
	padding-top: 10px;

}	
footer ul li {
	float: left;
	margin-left: 40px;
	a {
		color: #888;
		font-size: 1.25em;
	}
}

.new-user {
	padding-left: 100px;
}

#admin-question {
	font-size: 1em;
	font-weight: bold;
}

.admin-user-select {
	margin-left: 30px;
}

#advanced-search {
	margin-bottom: 15px;
}

#wc-search-form {
	margin-bottom: 20px;
}

.search-heading {
	font-size: 1.3em;
	text-decoration: underline;
}

//* Booking Calendar Styling *//

#month {
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
}

#booking-calendar {
	margin-left: 15%;
	th, td {
		border: 1px solid #999;		
	}
	th {
		height: 25px;
		width: 10%;
		text-align: center;
	}
	td {
		height: 70px;
		vertical-align: top;
		text-align: center;
	}
}
.notmonth {
	background-color: #C9CFD1;
}
.today {
	background-color: #D3DFD0;
}
.booked {
	background-color: #FAB4AC;
}
.proposed {
	background-color: #82D47B;
}
.message {
	margin-left: 15%;
}
.bookit {
	margin-right: 50px;
}
.text-center {
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
}

//* Current bookings (Bookings Index) *//

.index-sub {
	margin-left: 10%;
	margin-top: 25px;
}









