<footer>
  <small>
    <p>The <a href="#">Bookit App</a></p>
    <p>&copy; Bookit App 2014</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>