<footer id="site-footer">
  <small>
    <p><a href="#">EZ Book App</a></p>
    <p>&copy; EZ Book 2014</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>